@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Sarabun', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #EEF2FF;
  min-height: 100vh;
}

#root {
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #EEF2FF;
  position: relative;
}
